@import "../../../variables";

.__navigation_static {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .list {
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $font-main;
      transition: 0.2s;
      gap: 5px;
      text-decoration: none;
      cursor: pointer;
      color: $white-color;
    }
    a:hover {
      color: $hover;
    }
  }
}

.__navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  z-index: 10;
  backdrop-filter: blur(50px);
  .list {
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $font-main;
      transition: 0.2s;
      gap: 5px;
      text-decoration: none;
      cursor: pointer;
      color: #bde3f4d1;
    }
    a:hover {
      color: $white-color;
    }
  }
}
