.cardright {
  display: block;
  height: 30vh;
  width: 100%;
  position: relative;
  @media (max-height: 414px) {
    margin-bottom: 10rem;
  }
  .line {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 0;
    height: 100vh;
    border: 3px solid rgb(0, 166, 255);
    .cardright__sideLeft {
      position: absolute;
      top: 3rem;
      left: -27rem;
      width: 400px;
      direction: ltr;
      @media (max-height: 414px) {
        margin-top: 2rem;
      }
      div {
        font-size: 1.3rem;
        @media (max-width: 1024px) {
          font-size: 1.2rem;
          width: 350px;
        }
        @media (max-width: 900px) {
          font-size: 1.1rem;
          width: 300px;
        }
        @media (max-width: 900px) {
          font-size: 1.1rem;
          width: 250px;
        }
        @media (max-width: 640px) {
          font-size: 0.8rem;
          width: 150px;
        }
      }
    }
    .cardright__sideRight {
      position: absolute;
      top: 3rem;
      right: -33rem;
      width: 500px;
      direction: ltr;
      @media (max-height: 414px) {
        margin-top: 2rem;
      }
      @media (max-width: 1024px) {
        width: 400px;
        right: -28rem;
      }
      @media (max-width: 900px) {
        right: -22rem;
        width: 320px;
      }

      @media (max-width: 640px) {
        right: -13rem;
        width: 190px;
      }
      .iframe {
        border-radius: 30px;
        width: 450px;
        height: 350px;
        
        @media (max-height: 414px) {
          width: 150px;
          height: 200px !important; 
        }

        @media (max-width: 1024px) {
          width: 350px;
          height: 250px;
        }
        @media (max-width: 900px) {
          width: 300px;
          height: 250px;
        }
        @media (max-width: 640px) {
          width: 180px;
          height: 150px;
        }
      }
    }
  }
}
