@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
.welcome {
  display: block;
  height: 40vh;
  width: 100%;
  position: relative;
  @media (max-height:414px) {
    margin-bottom: 8rem;
  }
  .line {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 4rem;
    width: 0;
    height: 100%;
    border: 3px solid rgb(0, 166, 255);
    .welcome__sideLeft {
      position: absolute;
      margin-left: auto;
      right: -10rem;
      width: 400px;
      top: 2rem;
      height: max-content;
      @media (max-width: 1024px) {
        right: -13rem;
      }

      .circular--landscape {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;

        @media (max-width: 1024px) {
          width: 150px;
          height: 150px;
        }
        a:hover {
          cursor: url("../../img/cursorpointer.png"), auto;
        }
        img {
          width: auto;
          height: 100%;
          margin-left: -70px;
          @media (max-width: 1024px) {
            margin-left: -50px;
          }
        }
      }
      .title--profile {
        margin-top: 10px;
        text-align: center;
        width: 220px;
        font-family: "Ms Madi", cursive;
        font-weight: bold;
        @media (max-width: 1024px) {
          width: 150px;
        }
      }
    }
    .welcome__sideRight {
      position: absolute;

      margin-right: auto;
      right: 0;
      left: 2rem;
      width: 400px;
      top: 2rem;
      height: max-content;
      .description {
        font-size: 1.3rem;
        @media (max-width: 1024px) {
          font-size:1.2rem;
          width: 350px;
        }
        @media (max-width: 900px) {
          font-size:1.1rem;
          width: 300px;
        }
        @media (max-width: 900px) {
          font-size:1.1rem;
          width: 250px;
        }
        @media (max-width: 640px) {
          font-size:0.8rem;
          width: 150px;
        }
      }
    }
  }
}
