@import "../../variables";

.introContainer {
  position: fixed;
  z-index: -1;
  opacity: 0.2;
  filter: grayscale(1);

  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    transparent 100%
  );
}

.loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .select {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    span {
      font-size: 100px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      transition: 0.2s;
      width: 450px;
      cursor: pointer;
      margin-right: 10px;
      border: 1px solid rgba(255, 255, 255, 0.331);
    }
    span:hover {
      color: black;
      background-color: $hover;
    }
    @media (max-width: 1440px) {
      font-size: 90px;
      padding: 0 90px;
    }
    @media (max-width: 1200px) {
      font-size: 70px;
      padding: 0 50px;
      bottom: 50px;
    }
    @media (max-width: 940px) {
      font-size: 40px;
      bottom: 100px;
    }
    @media (max-width: 640px) {
      bottom: 180px;
      padding: 0 20px;
      font-size: 25px;
    }
  }
}

.byebye{
  animation: fadeOutUp 1s linear forwards;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
