@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  .title__border {
    border-left: 5px solid rgba(12, 236, 211, 1);
    border-right: 5px solid rgba(0, 120, 208, 1);

    padding:0 4rem;
    @media (max-width: 1024px) {
      padding: 0 3rem;
    }
    @media (max-width: 1024px) {
      border-left: 3px solid rgba(12, 236, 211, 1);
      border-right: 3px solid rgba(0, 120, 208, 1);
      padding: 0 2rem;
    }
  }


  h1 {
    text-transform: uppercase;
    background: -webkit-linear-gradient(
      270deg,
      rgba(12, 236, 211, 1) 0%,
      rgba(0, 120, 208, 1) 72%
    );
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-family: "Combo", cursive !important;
    font-size: 6em;
    margin: 0;
    transform: rotate(-3.6deg);
    width: 100%;
    text-shadow: 3px 3px 0 rgb(0, 0, 0), -1px -1px 0 #000, 1px -1px 0 #000,
      -1px 1px 0 #000, 1px 1px 0 #000;

    @media (max-width: 1024px) {
      font-size: 4em;
    }
    @media (max-width: 640px) {
      font-size: 3.5em;
    }
  }
}
