@import url("https://fonts.googleapis.com/css2?family=Combo&display=swap");
@import "../../variables";
.containerTools {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  h1 {
      position: absolute;
      text-transform: uppercase;
      top: 2rem;
      margin: 0;
      font-weight: 100;
      font-size: 80px;
      letter-spacing: 20px;
      color: $slate;
      @media (max-width: 1440px) {
        font-size: 80px;
    }
    @media (max-width: 1200px) {
      font-size: 75px;
    }
    @media (max-width: 940px) {
      font-size: 90px;
    }
    @media (max-width: 640px) {
      font-size: 40px;
      top: 1rem;
    }
  }
  h4 {
    position: absolute;
    top: 0;
    letter-spacing: 3px;
    top: 8rem;
    margin: 0;
    color: $slate;
    @media (max-width: 1440px) {
      font-size: 16px;
      top: 8rem;
    }
    @media (max-width: 1200px) {
      font-size: 15px;
    }
    @media (max-width: 940px) {
      font-size: 14px;
    }
    @media (max-width: 640px) {
      font-size: 12px;
      top: 4rem;
    }
  }
  .table {

    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, minmax(0, 100px));
    transition: 0.2s;
    @media (max-width: 1440px) {
      grid-template-columns: repeat(6, minmax(0, 90px));
    }
    @media (max-width: 1200px) {
      grid-template-columns: repeat(6, minmax(0, 85px));
      gap: 1.1rem;
    }
    @media (max-width: 940px) {
      gap: 1rem;
      grid-template-columns: repeat(5, minmax(0, 80px));
    }
    @media (max-width: 640px) {
      gap: 1rem;
      grid-template-columns: repeat(4, minmax(0, 50px));
    }

    img {
      width: 100%;
      transition: 0.2s;
    }
    img:hover {
      transform: scale(1.24);
    }
  }
}
