@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Oswald:wght@200;400&display=swap");

@import '../../variables';
.contact-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  max-height: max-content;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  
  .title-contact{
    h1 {
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      font-weight: 100;
      font-size: 80px;
      letter-spacing: 20px;
      color: $slate;
      @media (max-width: 1440px) {
        font-size: 80px;
      }
      @media (max-width: 1200px) {
        font-size: 75px;
      }
      @media (max-width: 940px) {
        font-size: 90px;
      }
      @media (max-width: 640px) {
        font-size: 40px;
      }
    }
  
    h4 {
      text-transform: uppercase;
      text-align: center;
      top: 0;
      margin-top: 0;
      letter-spacing: 3px;
      color: $slate;
      @media (max-width: 1440px) {
        font-size: 16px;
        top: 8rem;
      }
      @media (max-width: 1200px) {
        font-size: 15px;
      }
      @media (max-width: 940px) {
        font-size: 14px;
      }
      @media (max-width: 640px) {
        font-size: 12px;
        top: 4rem;
      }
    }
  }

  .contact-cards {
    @media (max-width: 1250px) {
      flex-direction: column;
      max-width: 500px;
    }
    width: 100%;
    display: flex;
    .card-right {
      position: relative;
      background-color: $main-color;
      width: 100%;
    }
    .card-left {
      color: black;
      background: #fafafa;
      width: 100%;
    }
  }
}
