@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Oswald:wght@200;400&display=swap');
.contact-container{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  max-height: max-content;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  .contact-cards{
    @media (max-width: 1250px ) {
      flex-direction: column;
      max-width: 500px;
    }
    width: 100%;
    display: flex;
    .card-right{
      
      position: relative;
      background: -webkit-linear-gradient(
        270deg,
        rgba(12, 236, 211, 1) 0%,
        rgba(0, 120, 208, 1) 72%
      );
      width: 100%;
    }
    .card-left{
      color: black;
      background: #fafafa;
      width: 100%;
    }
  }
}