.sidenav{
  display: none;
}

.sidenav__active {
  position: fixed;
  margin-left: auto;
  left: 0;
  right: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
  border-left: 1px solid rgb(0, 69, 139);
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  background: rgba(35, 44, 45, 0.7);
  animation: open 0.5s;
  .closeIcon{
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 2rem;

  }

  .item{
    font-size: 2rem;
    margin-bottom: 3rem;
    transition: all 0.2s;
  }

  .item:hover{
    color: rgb(12, 236, 210, 0.423);
    transform: scale(1.2);  
  }
}

.sideClose{
  position: fixed;
  margin-left: auto;
  left: 0;
  right: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
  border-left: 1px solid rgb(0, 69, 139);
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  background: rgba(35, 44, 45, 0.7);
  animation: close 0.5s;
  .closeIcon{
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 2rem;
    display: none;

  }

  .item{
    display: none;

    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

@keyframes open {
  0%{
    width: 0;
  }

  100%{
    width: 50vw;
  }
}

@keyframes close {
  0%{
    width: 50vw;
  }

  100%{
    width: 0;

  }
}
