.social-content{
  display: flex;
  font-size: 1.5rem;
  margin: 2rem 0;
  transition: 0.5s;
  align-items: center;
  text-decoration: none;
  color: black;
  span{
   padding-left: 10px;
   padding-bottom: 5px;
  }

}

.social-content:hover{
  color: rgb(5, 143, 127);
}