@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");

.works__container {
  height: 90vh;
  padding-top: 2rem;
  position: relative;
  background-color: rgb(31, 31, 31);

  .works__background {
    margin-top: 5rem;
    height: inherit;
    filter: blur(20px);
  }

  .works__contact {
    .left__arrow {
      position: absolute;
      top: 65%;
      left: 3%;
      transition: color 0.5s;
      @media (max-width: 1200px) {
        width: 50px;
        height: 50px;
      }
      @media (max-width: 640px) {
        width: 30px;
        height: 30px;
      }
    }
    .left__arrow:active,
    .left__arrow:hover {
      color: rgb(0, 102, 128);
      filter: drop-shadow(3px 3px 2px rgba(37, 96, 108, 0.7));
      cursor: url("../../img/cursorpointer.png"), auto;
    }

    .right__arrow {
      position: absolute;
      right: 3%;
      top: 65%;
      transition: color 0.5s;
      @media (max-width: 1200px) {
        width: 50px;
        height: 50px;
      }
      @media (max-width: 640px) {
        width: 30px;
        height: 30px;
      }
    }
    .right__arrow:active,
    .right__arrow:hover {
      color: rgb(0, 102, 128);
      filter: drop-shadow(3px 3px 2px rgba(37, 96, 108, 0.7));
      cursor: url("../../img/cursorpointer.png"), auto;
    }

    .work__card {
      position: absolute !important;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 40%;
      height: max-content;
      width: 30vw;
      background-color: #fafafa;
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      box-shadow: 0 0 18px 3px rgb(0 0 0 / 60%);
      @media (max-width: 1600px) {
        width: 35vw;
      }
      @media (max-width: 1024px) {
        width: 50vw;
      }
      @media (max-width: 640px) {
        width: 70vw;
      }
      .card__img {
        img {
          border-radius: 19px 19px 0px 0px;
          width: 100%;
          height: 100%;
        }
      }

      .card__description {
        padding: 1.5rem;
        color: black;
        width: 100%;
        display: flex;
        flex-direction: column;
  
        h4 {
          margin: 0;
          font-size: 2rem;
          font-family: "Mukta", sans-serif;
          text-transform: uppercase;
          @media (max-width: 1600px) {
            width: 35vw;
          }
          @media (max-width: 1024px) {
            width: 50vw;
          }
          @media (max-width: 640px) {
            font-size: 1.2rem;
          }
        }
  
        p {
          margin: 0;
          margin-bottom: 1rem;
          @media (max-width: 1024px) {
            font-size: 0.9rem;
          }
          @media (max-width: 640px) {
            font-size: 0.8rem;
          }
        }
        .card__btn {
          display: flex;
  
          width: max-content;
          span {
            margin-right: 10px;
          }
          .tech {
            text-align: center;
            color: white;
            padding: 0.8rem;
            width: 80px;
            border-radius: 20px;
            background-color: black;
            @media (max-width: 640px) {
              height: 40px;
              font-size: 0.8rem;
            }
          }
  
          .git {
            font-size: 2rem;
            margin-top: 0.2rem;
            margin-left: 1.5rem;
            padding: 0;
            color: black;
          }
          .git:hover {
            color: rgb(0, 102, 128);
            cursor: url("../../img/cursorpointer.png"), auto;
          }
  
          .btn {
            padding: 0.8rem;
            border: 1px solid rgb(0, 102, 128);
            border-radius: 20px;
            text-align: center;
            text-decoration: none;
            color: rgb(0, 102, 128);
            @media (max-width: 640px) {
              height: 40px;
              font-size: 0.8rem;
            }
          }
          .btn:hover {
            cursor: url("../../img/cursorpointer.png"), auto;
            background-color: rgb(0, 102, 128);
            color: white;
          }
        }
      }
    }

  }
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.box-floating {
  animation: floating 3s ease infinite;
  will-change: transform;
}
