@import "../../variables.scss";
.navbarContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  .logo {
    width: 30%;
    div {
      width: 100px;
      @media (max-width: 800px) {
        width: 80px;
      }
    }
  }
  .list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    a {
      transition: 0.5s;
      display: flex;
      gap: 5px;
      text-decoration: none;
      color: $white-color;
      cursor: url("../../img/cursorpointer.png"), auto;
      font-weight: 400;
    }
    a:hover {
      color: $hover;
    }
  }
  .listMobile{
    margin: 0;
    display: flex;
    padding-right: 20px;
    flex-direction: row-reverse;
  }
}

.sidenavright {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 4%;
  z-index: 10;
  ul {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
      font-size: 25px;
      color: $white-color;
      display: list-item;
      text-align: -webkit-match-parent;
      margin-top: 10px;
      transition: 0.2s;
      cursor: pointer;
    }
    li:hover {
      color: $hover;
    }
    div {
      margin-top: 20px;
      height: 90px;
      border: 1px solid $white-color;
    }
  }
}
.sidenavleft {
  width: 40px;
  position: fixed;
  bottom: 0px;
  right: 4%;
  z-index: 10;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  a {
    text-decoration: none;
    color: $white-color;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    list-style: none;
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.2s;
    font-family: $fontCal_light;
    transform: rotate(90deg);
  }
  a:hover {
    color: $hover;
  }
  div {
    width: 0;
    margin-top: 130px;
    height: 90px;
    border: 1px solid $white-color;
  }
}

//   .menu__mobile {
//     display: none;
//     @media (max-width: 640px) {
//       display: inline;
//       position: fixed;
//       right: 10px;
//       top: 0px;
//     }
//   }

//   .navs {
//     font-size: 2rem;
//     ul {
//       list-style: none;
//       margin: 0;
//       padding: 0;
//       a {
//         text-decoration: none;
//         color: white;
//         margin-right: 50px;
//         display: inline-block;
//         transition: all 0.5s;
//       }
//       a:hover {
//         color: rgb(12, 236, 210, 0.423);
//         transform: scale(1.2);
//         cursor: url("../../img/cursorpointer.png"), auto;
//       }

//     }
//     @media (max-width: 800px) {
//       font-size: 1.5rem;
//     }
//     @media (max-width: 640px) {
//       display: none;
//     }
//   }
// }
