@use '../.._variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
.loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 5px;
  .__message{
    min-height: 110px;
    .fullnameLogo {
      display: flex;
      justify-content: center;
      img {
        width: 300px;
        @media (max-width: 850px) {
          width: 250px;
        }
      }
    }

    .typing {
      text-align: center;
      margin-top: 10px;
      text-transform: uppercase;
      font-family: 'Roboto Mono', monospace;
      span {
        font-size: 1.5rem;
        color: $lightest-slate;
     
      }
    }
  }

  .test{

    text-align: center;
  }
}

.byebye{
  animation: fadeOutUp 1s linear forwards;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
