@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500&display=swap');



$font-main:'Roboto Mono', monospace;
$font-text:'Source Sans 3', sans-serif;


$main-color: rgba(0, 173, 181, 1);
$main-background: #191923;
$slate:#bde3f4b1;
$white-color:#ffff;
$lightest-slate: #D3D4D9;
$hover:#bde3f4b1;


$background: url('./img/background.jpg')