



.intro {
  background: #050810;
  border-bottom: 1px solid white;
  .background {
    opacity: 1;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./img/intro.jpeg');
    height: 100vh;
  
  }
}
@media (max-width: 390px) {
  .intro {
    background-size: contain;
  }
}
