@import "./_variables.scss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  cursor: url("./img/newCursor.png"), auto;
  color: white;
  margin: 0;
  padding: 0;
  font-family: $fontCal_regular;
  height: 100%;
  width: 100%;
  background: $main-background;
}

body::-webkit-scrollbar {
  background-color: black;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: $hover;
  border-radius: 20px;
}