@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@500&display=swap');

*{
  box-sizing: border-box;
}

body {
  cursor: url('./img/newCursor.png'), auto;
  color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif; 
  height: 100%;
  width: 100%;
  background: #050810;

}
